@import url("reset.css");
@import url("https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-fiori.min.css");
@import url("https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.fiori.min.css");
@import url("https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.fiori.mobile.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css");


html { 
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif; 
    background: black;
}

.grid-stack {
    background: #222;
    margin: 2em;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #333;
    overflow: hidden !important;
    position: relative;
}

.grid-stack-item-content .widget-title{
    color: #4771A5;
    text-align: left;
    font-size: 1.4em;
    padding: 0.5em;       
    height: 1em;
}

.grid-stack-item-content .widget-body{
    height: calc(100% - 4.5em);
    margin: 0em 1em;
    overflow-y: auto;
}

.k-button{
    color: #87CEEB;
    background-color: #3F4354;
    width: 100%;
}

.k-button:hover{
    color: #87CEEB;
    background-color: #3F4354;
}

.k-grid-content{
overflow-y: visible;
}